/* Root CSS variables */
:root {
  --primary: #cc2929;
  --accent: #581111;

  --background: #111;
  --secondary: #272727;
  --tertiary: #424242;
  --lightGrey: #999;
  --white: #fff;
}

html,
body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  margin: 0px;
  min-height: 180px;
  padding: 0;
  width: 384px;
  color: var(--lightGrey);
  background-color: var(--background);
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
  font-weight: 400;
  margin: 0;
  text-align: center;
}

h3 {
  font-size: 15px;
}

img {
  width: 30px;
}

p {
  text-align: center;
}

.modal-header {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 0.5px solid var(--lightGrey);
}

.modal-content {
  padding: 0 22px;
}
.modal-icons {
  border-top: 0.5px solid var(--lightGrey);
  height: 50px;
  width: 100%;
}

.logo {
  padding: 16px;
}

.logo-icon {
  vertical-align: text-bottom;
  margin-right: 12px;
}

.ext-version {
  color: var(--lightGrey);
  font-size: 18px;
}

a:link,
a:visited {
  color: #231955;
  outline: 0;
  text-decoration: none;
}

.container {
  display: block;
  justify-content: space-between;
  padding: 10px 22px;
}

.container a {
  color: #3330e4;
}

#modal-footer {
  background-color: var(--lightGrey);
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  margin-top: 180px;
  border-radius: 5px;
}

#modal-footer a {
  color: var(--primary);
}

#settingsToggle {
  background: none;
  box-shadow: none;
  color: var(--lightGrey);
  padding: 2px;
  z-index: 69;
  height: 2rem;
  width: 2rem;
  border: none;
  transition: transform 0.3s ease-in-out;
}

#settingsToggle:hover {
  color: var(--white);
  transform: rotate(-90deg);
  cursor: pointer;
}

#settingsToggle:active {
  transform: scale(1.5);
}

#settingsDialog {
  opacity: 0;
  pointer-events: none;
  transition-duration: 0.15s;
  transition-timing-function: ease-in-out;
  transform: scale(1.1);
  position: fixed;
  background: var(--background);
  top: 10px;
  left: -2px;
  width: 346px;
  height: 317px;
  border: 2px solid var(--secondary);
  border-radius: 0.5rem;
  padding: 1rem;
}

#settingsLegend {
  color: var(--tertiary) !important;
  /* margin: auto;
  padding: .25rem .5rem;
  border-radius: .25rem;
  border: .25rem solid var(--secondary); */
}

#social-media-blocker-settings-header {
  text-align: center;
  font-style: italic;
}

#settings-animation {
  position: absolute;
  top: 0;
  left: -7px;
}

#extension-version {
  padding: 0.25rem 0.5rem;
}

#extension-update {
  cursor: pointer;
  color: var(--white);
  text-decoration: none;
  background: var(--primary);
  border-radius: 0.25rem;
}
#extension-update:hover {
  text-decoration: underline;
}

#extension {
  color: var(--primary);
  padding: 0.25rem 0;
  z-index: 69;
  position: fixed;
  background: var(--lightGrey);
  margin: 0;
  bottom: 32px;
  right: 0;
  border-radius: 0.25rem;
}
